/* Variavéis CSS */
:root {
    --color-red:rgb(179, 56, 59);
    --color-white:rgb(255, 255, 255);
    --color-grey-700: rgb(51, 51, 51);
    --color-grey-800: rgb(31, 31, 31);
    --color-grey-900: rgb(20, 20, 20);

    --radius-sm: 8px; 
    --radius-full: 100%; 

    --Family: [Inter](https://fonts.google.com/specimen/Quicksand);
    --Weights: 400, 600, 700;

    --spacing-10: 10px;
    --spacing-20: 20px;
    --spacing-30: 30px;
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
}

/* Definindo a cor de fundo da página */
body {
    background-color: var(--color-grey-900);
    font-family: "Inter", sans-serif;
}

/* Definindo a cor de fundo da div */
.container {
    background-color: var(--color-grey-800);
    color: var(--color-white);
    width: 500px;
    text-align: center;
    border-radius: var(--radius-sm);
    padding: var(--spacing-20);
    margin: 50px auto;
}

.container h1 {
    font-size: 38px;
    font-weight: 500;
    margin-block: var(--spacing-10);
}

.container h2 {
    color: var(--color-red);
    font-size: 26;
    font-weight: 300;
    margin-bottom: var(--spacing-20);
}

.container p {
    font-size: 13px;
    font-weight: 200px;
    margin-bottom: var(--spacing-20);
}

.container img {
    border: solid 4px var(--color-grey-700);
    border-radius: var(--radius-full);
    transition: .5s;
}

.container:hover img {
    border-color: var(--color-red);
    scale: 1.1;
}

.social {
    list-style: none;
}

.social li {
    background-color: var(--color-grey-700);
    margin-block: var(--spacing-10);
    padding: var(--spacing-10);
    border-radius: var(--radius-sm);
    transition: .5s;
}

.social li:hover {
    background-color: var(--color-red);
}

.social a {
    color: var(--color-white);
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
}

h2 {
    color: var(--color-red);
}

